# Laravel
/vendor/
/node_modules/
/public/hot
/public/tinymce
/public/build/
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Frontend
web-desa/node_modules/
web-desa/build/
web-desa/.env
web-desa/.env.local
web-desa/.env.development.local
web-desa/.env.test.local
web-desa/.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
storage/logs/*.log

# Cache
bootstrap/cache/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
/memory/
